table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.products > tfoot {
    display: flex;
    justify-content: flex-end;
    position: relative;
    float: right;
}

table,
td,
th {
    border: 1px solid #ccc;
}

thead > tr > th,
tbody > tr {
    padding: 0.4em;
}

td:nth-child(1) {
    padding-left: 0.4em;
}

td a {
    color: #444444;
}

td img {
    height: 40px;
}

table > thead {
    color: white;
    background-image: linear-gradient(90deg, #E72B3F,#ff8a00);
    text-align: left;
}

tbody > tr:nth-child(odd) {
    background: #eee;
}

tbody > tr:nth-child(even) {
    background: #fff;
}

.products td:not(:nth-child(1)){
    text-align: center
}

.products td > div {
    display: inline-block;
}

.products td > div:nth-child(2) {
    margin-left: 0.5em;
}

.update-table  {
    float: right;
}

.update-table > tbody >tr {
    background: white;
    text-align: left;
}

.update-cart {
    margin: 0;
    background-image: linear-gradient(90deg, #E72B3F,#ff8a00);
    padding: 0.5em 5em;
    color: white;
    font-weight: 700;
    float: right;
    border: none;
    cursor: pointer;
}

.fa-minus-circle,
.fa-plus-circle {
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 0.2em;
}

.fa-minus-circle {
    color: #FF8901;
    margin-right: 0.4em;
}

.fa-plus-circle {
    color: #FF8901;
    margin-left: 0.4em;
}

.fa-trash {
    font-size: 1.5em;
    align-self: middle;
    justify-self: center;
    background: -moz-linear-gradient(45deg, #E72B3F 0%,#FF8901 100%);
    background: -webkit-linear-gradient(45deg, #E72B3F 0%,#FF8901 100%);
    background: linear-gradient(45deg, #E72B3F 0%,#FF8901 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.products > tbody > tr > td > span {
    font-size: 1em;
}
