/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font: 16px/1.5 Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

/* Remove default margin */
body,
h1,h2,h3,h4,h5,h6,p,
ul[class],ol[class],
li,
figure,figcaption,blockquote,
dl,dd {
  margin: 0;
  
}

body {
  min-height: 100%;
  position: relative;
}

body::after {
    content: "";
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-image: url(../src/assets/images/icons/site-background.png);
    background-position: top;
}

.p-text p {
  margin-bottom: 0.5em;
}

.p-text p:nth-child(1) {
  font-weight: 700;
}

.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}

// .ng-star-inserted {
//   width: 100%;
// }

label.xng-breadcrumb-trail {
  margin-bottom: 0;
  color: #E72B3F;
}

/* Set core body defaults */
// body {
//     min-height: 100vh;
//     scroll-behavior: smooth;
//     text-rendering: optimizeSpeed;
//     line-height: 1.5;
// }

button:focus {
  outline: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
