.right-nav-section {
    position: relative;
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    //margin-top: 1.7em;
    //margin: auto 0;
    margin-top: 1.2em;
}

.right-nav-section > .login > a > .fa-user-o {
    color: white;
    font-size: 1.8em;
    cursor: pointer;
}

.right-nav-section > .cart {
    position: relative;
    margin-top: 0.15em;
    margin-left: 1.5em;
}

.right-nav-section > .cart > a {
    text-decoration: none;
}

.right-nav-section > .cart > a > img{
    max-width: 2.6em; 
    display:block; 
    height: auto;
}

.right-nav-section > .cart::before {
    content: "";
    width: 1.2em;
    height: 1.2em;
    background: #E72B3F;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0.4em;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.display-name {
    background: -webkit-linear-gradient(left, #E72B3F 50%,#ff8a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.right-nav-section > .cart > a > .cart-qty {
    position: absolute;
    top: -0.15em;
    left: 0.83em;
    color: white;
    font-size: 0.9em;
}

.login {
    position: relative;
    text-align: center;
}

.nav-user{
    display: none;
    position: absolute; 
    padding:0.5em;
    width: 6.2em;
    height: 6.5em;
    // overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    z-index: 2;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.nav{
    display: none;
    position: absolute; 
    padding:0.5em;
    width: 6.2em;
    height: 6.5em;
    // overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    z-index: 2;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.nav a,
.nav-user a {
    float: none;
    color: white;
    background: rgb(0, 0, 0, 0.5);
    padding: 12px 16px;
    text-decoration: none;
    display: flex; 
    text-align: left;
}

.nav-link.logout {
    border-top: 1px solid white;
}

.nav a:nth-child(1),
.nav-user a:nth-child(1) {
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

.nav a:nth-child(2),
.nav-user a:nth-child(3) {
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

.nav a:hover,
.nav-user a:hover {
    background-color: rgb(213, 59, 59);
    color: white;
    font-weight: 600;

    transition: background-color 0.25s ease-in-out;
}

.login:hover .nav,
.login:hover .nav-user {
    display: block;
}

// Hamburger Styling //

.hamburger {
    display: none;
    width: 58px;
    height: 40px;
    cursor: pointer;
}

#check{
    display: none;
}

.ham {
    width: 58px;
    height: 40px;
    position: relative;
}

.ham .bar {
    padding: 0;
    width: 58px;
    height: 7px;
    
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
    background-color: green;
}

.bar2 {
    top: 11px;
    background-color: rgb(255, 255, 20);
}

.bar3 {
    top: 22px;
    right: 0;
    background-color: rgb(46, 139, 253);
}

.bar4 {
    bottom: 0;
    background-color: red;
}

/* HAMBURGER 2 */

.check:checked + label > .ham2 > .bar1{
    transform: translateX(40px);
    background-color: transparent;
}

.check:checked + label > .ham2 > .bar2{
    transform: rotate(45deg);
    background-color: red;
    top: 20px;
    right: 0;
    width: 45px;
}

.check:checked + label > .ham2 > .bar3{
    transform: rotate(-45deg);
    top: 20px;
    width: 45px;
}

.check:checked + label > .ham2 > .bar4{
    transform: translateX(-40px);
    background-color: transparent;
}

.check-btn {
    cursor: pointer;
}


.hamburger .row {
    border-radius: 0.1em;
    // box-shadow: 
    // 1.8em 0 1.3em -1em rgba(0, 0, 0, 0.3) inset,
    // -1.8em 0 1.3em -1em rgba(0, 0, 0, 0.3) inset;
}
.hamburger .row:nth-child(1) {
    width: 100%;
    height: 19%;
    background: green;
}
.hamburger .row:nth-child(2) {
    width: 100%;
    height: 19%;
    background: rgb(255, 255, 20);
}
.hamburger .row:nth-child(3) {
    width: 100%;
    height: 19%;
    background: rgb(46, 139, 253);
}
.hamburger .row:nth-child(4) {
    width: 100%;
    height: 19%;
    background: red;
}

//--------------------------//

@media screen and (max-width: 1280px) {
    .main-nav {
        padding: 0;
        padding-left: 1em;
        width: 40vw;
        justify-content: flex-start;
        margin-left: -1em;
    }

    .search-field {
        margin-top: 0em;
        height: 0.8em;
        padding: 0.6em 0.3em;
    }

    .site-header .site-nav {
        display: none;
        // visibility: hidden;
    }

    .hamburger {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        margin-left: 1em;
        position: relative;
    }

    .mobile-nav {
        position: fixed;
        padding-left: 1.5em;
        width: 20%;
        //height: 40vh;
        background:#3D3D3D;
        z-index: 2;
        //top: 80px;
        top: calc(5em + 18 * ((100vw - 320px) / 1280));
        right: -20%;
        text-align: left;
        
        color: white;
        font-weight: 700;
        transition: all .4s;
    }

    .mobile-nav > li {
        list-style: none;
        margin: 1em 0;
    }

    .mobile-nav > li:last-child {
        margin-bottom: 3em;
    }

    .mobile-nav > li > a {
        color: white;
    }

    .mobile-nav > li > a:hover,
    .mobile-nav > li > a.active,
    .mobile-nav > li > a.activated{
        background: -webkit-linear-gradient(left, #E72B3F 50%,#ff8a00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
    }

    #check:checked ~ ul {
        right: 0;
    }
    
    .right-nav-section {
        align-self: center;
        margin-top: 0;
    }

    .right-nav-section > .login > a > .fa-user-o {
        font-size: 1.5em;
        margin-left: 0.5em;
    }

    .right-nav-section > .cart > a > img{
        max-width: 2.3em; 
        display:block; 
        height: auto;
    }

    .right-nav-section > .cart::before {
        top: 0px;
        left: 0.32em;
    }
}

@media screen and (min-width: 1366px) {
    .site-branding .site-title {
      font-size: 3em;
    }

    .site-branding > .site-description {
        font-size: 1.64em;
    }

    // .right-nav-section {
       
    //     margin-top: calc(1.2em - 3 * ((100vw - 320px) / 680));
    // }
}

@media screen and (min-width: 1500px) {
    .site-nav {
      font-size: 1em;
    }
}