<div class="title">
    <h5 class="totals-title">Order Summary</h5>
</div>
<section class="info">
    <p>
        Shipping costs will be added depending on your choices in checkout
    </p>
    <ul>
        <li>
            <strong>Order subtotal</strong>
            <strong>{{subtotal}}</strong>
        </li>
        <li>
            <strong>Shipping and handling</strong>
            <strong>{{shippingPrice }}</strong>
        </li>
        <li>
            <strong>Total</strong>
            <strong>{{total | number : '1.2-2'}}</strong>
        </li>
    </ul>
</section>