<footer class="site-footer">
    <div class="footer-container">
        <section class="navigation">

            <section class="nav-one">
                <h5>About us</h5>
                <ul>
                    <li><a href="">Who We Are</a></li>
                </ul>
            </section>
            <section class="nav-two">
                <h5>Policy</h5>
                <ul>
                    <li><a href="">Privacy & Terms of Service</a></li>
                </ul>
            </section>
            <section class="nav-three">
                <h5>Shopping</h5>
                <ul>
                    <li><a href="">All Products</a></li>
                    <li><a href="">New Products</a></li>
                    <li><a href="">Product Bundle Sets</a></li>
                </ul>
            </section>
            <section class="nav-four">
                <h5>Members</h5>
                <ul>
                    <li><a href="">Register</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </section>
            <section class="nav-five">
                <h5>Contact</h5>
                <ul>
                    <li>
                        <a href=""><i class="fa fa-phone-square" aria-hidden="true"></i>+359 885 757785
                        </a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-envelope-square" aria-hidden="true"></i>bodyquest@gmail.com
                        </a>
                    </li>
                </ul>
            </section>
            <section class="social">
                <h5>Connect</h5>
                <div class="icons">
                    <li>
                        <a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </div>
            </section>
        </section>
        <section class="copyright">
            <p><span>&copy; </span>2020 Bodyquestbox</p>
        </section>
    </div>
</footer>