.site-footer {
    max-width: 100vw;
    margin: 0;
    padding: 1.5em 3em 1em 3em;
    margin-top: 1em;
    background-color: #3d3d3d;
}

a {
    cursor: pointer;
}

.footer-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    flex: 1 1 100%;
    color: white;
}

.navigation section:not(:last-child) {
    margin-right: 3em;
}

.navigation section h5 {
    margin-bottom: 0.5em;
}

.navigation ul,
.social li {
    list-style: none;
    padding: 0;
}

.icons li:first-child {
    margin-right: 0.5em;
}

.navigation a {
    color: white;
    font-size: 0.9em;
    font-weight: 200;
}

.social {
    display: flex;
    flex-flow: column wrap;
}

.social .icons {
    display: flex;
}

.social .icons a {
    display: flex;
    width: 2.5em;
    height: 2.5em;
    align-items: center;
    justify-content: center;
    // line-height: 1;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    transition: background 0.2s ease-in-out;
}

.social .icons a:hover {
    background: rgba(255, 255, 255, 0.97);
}

.social .icons i {
    font-size: 1.5em;
    color: #ccc;
}

.social .icons .fa-facebook-square {
    color: #3759a8;
}

.instagram {
    position: relative;
}

.social .icons .fa-instagram {
    background: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

// .fa-instagram:after {
//     content: "";
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     width: 90%;
//     height: 80%;
//     border-radius: 5px;
//     background: #ffffff;
//     z-index: 0;
// }

.nav-five i {
    font-size: 1em;
    margin-right: 1em;
    color: #ccc;
}

.copyright {
    flex: 1 1 100%;
    color: #999;
    font-size: 0.9em;
    font-weight: 200;
}
