<section class="site-media">
    <img src="../../assets/images/facility_equipment.jpg"
         alt="">
    <div class="hero-text-wrapper">
        <h2>
            Find what moves you 
        </h2>
        <p>
            Bodyquestbox is your one-stop place for finding the right products for your highest athletic goals
        </p>
        <ul class="social">
            <li>
                <a href=""><img src="../../assets/images/icons/j-box-svg.svg" alt=""></a>
            </li>
            <li>
                <a href=""><img src="../../assets/images/icons/j-box-svg.svg" alt=""></a>
            </li><li>
                <a href=""><img src="../../assets/images/icons/j-box-svg.svg" alt=""></a>
            </li><li>
                <a href=""><img src="../../assets/images/icons/j-box-svg.svg" alt=""></a>
            </li>
        </ul>
    </div>
</section>
<div class="site-wrapper">
    <article class="entry">
        <div class="entry-media">
            <img src="../../assets/images/vests.jpg" alt="">
        </div>
        <div class="entry-content">
            <h3 class="entry-title">
                <a href="/#">Unique selection</a>
            </h3>
            <p class="entry-meta">
                <a href="/#">Shop now</a>
            </p>
            <p>
                The products we have are a result of a long and careful selection for professional level of performance. 
            </p>
        </div>
    </article>

    <article class="entry">
        <div class="entry-media">
            <img src="../../assets/images/Strength-and-Conditioning.jpg" alt="">
        </div>
        <div class="entry-content">
            <h3 class="entry-title">
                <a href="/#">High quality</a>
            </h3>
            <p class="entry-meta">
                <a href="/#">Shop now</a>
            </p>
            <p>
                We have a long-lasting relationship with the most experienced producers in this sport. Some are highly specialized. That is why our quality is high.
            </p>
        </div>
    </article>

    <article class="entry">
        <div class="entry-media">
            <img src="../../assets/images/airbike.jpg" alt="">
        </div>
        <div class="entry-content">
            <h3 class="entry-title">
                <a href="/#">Affordability</a>
            </h3>
            <p class="entry-meta">
                <a href="/#">Shop now</a>
            </p>
            <p>
                It is difficult to find high quality at reasonable or even affordable price. We could match your expectations.
            </p>
        </div>
    </article>
</div>