<section class="site-media">
    <img src="../../assets/images/facility_equipment.jpg"
         alt="">
    <div class="hero-text-wrapper">
        <h2>
            A sleek, modern theme for personal websites
        </h2>
        <p>
            Personal is the prefect theme for developers, designers and other creatives
        </p>
        <ul class="social">
            <li>
                <a href=""><img src="../../assets/images/icons/j-box-svg.svg" alt=""></a>
            </li>
            <li>
                <a href=""><img src="../../assets/images/icons/j-box-svg.svg" alt=""></a>
            </li><li>
                <a href=""><img src="../../assets/images/icons/j-box-svg.svg" alt=""></a>
            </li><li>
                <a href=""><img src="../../assets/images/icons/j-box-svg.svg" alt=""></a>
            </li>
        </ul>
    </div>
</section>
<div class="site-wrapper">
    <article class="entry">
        <div class="entry-media">
            <img src="../../assets/images/vests.jpg" alt="">
        </div>
        <div class="entry-content">
            <h3 class="entry-title">
                <a href="/#">Unique selection</a>
            </h3>
            <p class="entry-meta">
                <a href="/#">Brand design</a>
            </p>
            <p>
                This page is a demo that shows everything you can do indie portfolio blog posts.
            </p>
        </div>
    </article>

    <article class="entry">
        <div class="entry-media">
            <img src="../../assets/images/Strength-and-Conditioning.jpg" alt="">
        </div>
        <div class="entry-content">
            <h3 class="entry-title">
                <a href="/#">High quality</a>
            </h3>
            <p class="entry-meta">
                <a href="/#">Brand design</a>
            </p>
            <p>
                This page is a demo that shows everything you can do indie portfolio blog posts.
            </p>
        </div>
    </article>

    <article class="entry">
        <div class="entry-media">
            <img src="../../assets/images/airbike.jpg" alt="">
        </div>
        <div class="entry-content">
            <h3 class="entry-title">
                <a href="/#">Affordability</a>
            </h3>
            <p class="entry-meta">
                <a href="/#">Brand design</a>
            </p>
            <p>
                This page is a demo that shows everything you can do indie portfolio blog posts.
            </p>
        </div>
    </article>
</div>