h1 { font-size: 2.8em;}
h2 { font-size: 2.6em;}
h3 { font-size: 1.8em;}
h4 { font-size: 1.4em;}
h5 { font-size: 1.2em;}
h6 { font-size: 1.0em;}

.site-media {
    background: transparent;
    overflow: hidden;
    position: relative;
}

.site-media img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.site-media:before {
    content: "";
    position: absolute;
    display: block;
    background: rgba(19, 41, 48, 0.30);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 1200px) {

    .site-media {
        height: 90vh;
    }

    .site-media img {
        height: 90vh;
    }
}

@media screen and (max-width: 900px) {
    .site-media img {
    }
}

.hero-text-wrapper {
    position: absolute;
    /* margin-left: auto;
    margin-right: auto; */
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    color: white;
    /* text-align: center; */
    font-size: 1.5em;
    width: 70vw;
}

.hero-text-wrapper h2 {
    font-weight: 600;
}

.hero-text-wrapper p {
    padding-top: 2em;
    font-weight: 400;
    opacity: 0.8;
}

.social {
    display: flex;
    padding-top: 2em;
    justify-content: start;
}
.social {
    list-style: none;
    padding-left: 0;
}

.social li {
    display: block;
    list-style: none;
    margin-right: 1em;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

    width: 2.8em;
    height: 2.8em;
    line-height: 1;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    transition: background 0.3s ease-in-out;
}

.social a:hover {
    background: rgba(255, 255, 255, 0.8);
}

.social img {
    max-height: 1.5em;
    width: auto;
    display: inline;
}

.site-wrapper {
    max-width: 90vw;
    padding: 0 8%;
    margin: 0 auto;
}

.entry {
    display: flex;
    position: relative;
    top: -2em;
    z-index: 1;

    height: 57vh;
    
    margin-bottom: -2em;
    // background: #f8f8f8;
    // box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
}

.entry-media{
    position: relative;
    flex: 0 0 55%;
    overflow: hidden;
}

.entry-media img {
    display: block;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}

.entry-media:hover img {
    transform: translate(-50%, -50%) scale(1.1) ;
}

.entry-content {
    position: relative;
    background: #fff;
    margin: 2em 2em 6em -2em;
    padding: 2em;
    z-index: 2;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.07);
}

.entry-title {
    padding-bottom: 0.5rem;
    font-weight: 600;
    font-size: 3em;
}

.entry-title a{
    color: #222;
}

.entry-meta {
    margin-bottom: 3em;
}

.entry-media:before {
    display: block;
    content: "";
    padding-top: 80%;
}

.entry-media img {
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: transform 0.4s ease-in-out ;
}

.entry:nth-child(even) .entry-media {
    order: 1;
}

.entry:nth-child(even) .entry-content {
    margin: 2em -2em 6em 2em;
}

@media screen and (max-width: 600px) {

    .site-media {
        height: 60vh;
    }

    .site-media img {
        height: 60vh;
    }

    .hero-text-wrapper {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;

        position: absolute;
        /* margin-left: auto;
        margin-right: auto; */
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 90vw;
    }

    .hero-text-wrapper h2:first-child {
        margin-top: auto;
        margin-bottom: 0.8em;
    }

    h2 {
        
        font-size: 1.8em;
        text-align: center;
    }

    .hero-text-wrapper > p {
        font-size: 0.9em;
        padding-top: 1em;
        text-align: center;
    }

    .social {
        padding-top: 1em;
        justify-content: center;
        margin-bottom: 1em;
    }

    .social li:last-child {
        margin-right: 0;
    }

    .social a {
        width: 2.4em;
        height: 2.4em;
    }
}