<section class="container mt-4">
    <div *ngIf="(basket$ | async) === null">
        <p>There are no items in your basket</p>
    </div>
    <section class="container">
        <div *ngIf="(basket$ | async) as basket">
    
            <app-basket-summary
                (decrement)="decrementItemQuantity($event)"
                (increment)="incrementItemQuantity($event)"
                (remove)="removeBasketItem($event)"
                [items]="(basket$ | async)?.items">   
            </app-basket-summary>

            <table class="update-table">
                <tbody>
                    <tr>
                        <td>
                            <button class="update-cart">Update Cart</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="totals">
                <app-order-totals
                *ngIf="(basketTotals$ | async)"
                [shippingPrice]="(basketTotals$ | async)?.shipping"
                [subtotal]="(basketTotals$ | async)?.subtotal"
                [total]="(basketTotals$ | async)?.total">

                </app-order-totals>
                <a routerLink="/checkout">
                    Proceed to checkout
                </a>
            </div>

            <div class="row">
                <div class="col-6 offset-6">
                </div>
            </div>

        </div>
    </section>
</section>

