<section class="wrapper" *ngIf="product">
    <section class="image-container">
        <img src={{product.pictureUrl}} alt="">
    </section>
    <section class="product-main-info">
        <h2>{{product.name}}</h2>

        <p>{{product.price | currency}}</p>

        <div class="qty">
            <i (click)="decrementQuantity()" class="fa fa-minus-circle"></i>
            <span>{{quantity}}</span>
            <i (click)="incrementQuantity()" class="fa fa-plus-circle"></i>
            <button (click)="addItemToBasket()" class="btn btn-outline-secondary">
                Add to Cart
            </button>
        </div>

        <div [innerHTML]="product.shortDescription" class="p-text"></div>
    </section>
</section>


