.checkout-button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.checkout-button {
    margin: 0;
    background: linear-gradient(90deg,#E72B3F,#ff8a00);
    background-image: #ffffff;
    padding: 0.5em 5em;
    color: white;
    font-weight: 700;
    float: right;
    border: none;
    cursor: pointer;

    position: relative;
}
.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.4;
    
}

.checkout-button-next {
    margin: 0;
    background-image: linear-gradient(90deg, #E72B3F,#ff8a00);
    padding: 0.5em 5em;
    color: white;
    font-weight: 700;
    float: right;
    border: none;
    cursor: pointer;
}

label {
    position: relative;
    margin: 1em 0;
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    
    a {
      text-decoration: none;
      color:  #7a7a8c;
    }
  }

  label > strong {
      margin-right: 0.8em;
  }
  
  label:active,
  label:hover {
      background: linear-gradient(
        to right, 
        #ff8a00, 
        #da1b60
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  
  .checkbox {
    position: relative;
    margin-right: 1rem;
    width: 2.2rem;
    height: 2.2rem;
    // width: 36px;
    // height: 36px;
  
    fill: white;
    stroke-width: 2;
    stroke-linecap: round;
  }
  
  .checkbox > rect {
      stroke: #bcbfc2;
  }
  
  // input {
  //     display: none;
  // }
  
  input {
      display: none;
    
      &:checked + label {
        .checkbox {
          #colors {
            stroke: url(#gradient);
            stroke-dasharray: 145;
            stroke-dashoffset: 145;
            animation: checked 1000 * 1ms ease forwards;
          }
    
          path,
          polyline {
            stroke: url(#gradient);
            stroke-dasharray: 40;
            stroke-dashoffset: 40;
            animation: checked 1000 * 1ms ease forwards;
          }
          
          path {        
            stroke-dasharray: 220;
            stroke-dashoffset: 220;
          }
        }
      }
    }
  
    input:checked + label .checkbox #colors {
      stroke: url(#gradient);
      stroke-dasharray: 145;
      stroke-dashoffset: 145;
      animation: checked 1000ms ease forwards;
  }
  
  input:checked + label .checkbox path, input:checked + label .checkbox polyline {
      stroke: url(#gradient);
      stroke-dasharray: 40;
      stroke-dashoffset: 40;
      animation: checked 1000ms ease forwards;
  }
  
  
  input:checked + label .checkbox path {
      stroke-dasharray: 220;
      stroke-dashoffset: 220;
  }
  
  @keyframes checked {
    to {
      stroke-dashoffset: 0;
    }
  }