<ng-container *ngIf="(breadcrumb$ | async) as breadcrumbs">
    <section class="breadcrumbs-container-wrapper" *ngIf="breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length-1].label !== 'Home'">
        <div class="breadcrumbs-container"
             style="background-color: #f5f5f5;">
    
            <div class="breadcrumbs">
                <div class="breadcrumb-title">
                    <h3>{{breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length-1].label | titlecase}}</h3>
                </div>
    
                <div class="breadcrumb-nav">
                    <xng-breadcrumb></xng-breadcrumb>
                </div>
            </div>
    
        </div>
    </section> 
</ng-container>
