<section class="main-products-container">
    <section class="product-categories">
        <h5 class="title">Sort</h5>

        <select (change)="onSortSelected($event)">
            <option *ngFor="let sort of sortOptions"
                    [value]="sort.value">
                {{sort.name}}
            </option>
        </select>

        <section class="categories">
            <h5 class="title">Categories</h5>
            <ul>
                <li *ngFor="let category of categories"
                    [class.active]="category.id ===this.shopParams.categoryIdSelected"
                    [value]="category.id">
                    {{category.name}}
                </li>
            </ul>
        </section>
    </section>

    <section class="product-list">
        <section class="products-head">
            <app-paging-header class="count"
                [totalCount]="totalCount"
                [pageSize]="this.shopParams.pageSize"
                [pageNumber]="this.shopParams.pageNumber">
                
            </app-paging-header>

            <section class="search-field">
                <input type="search">
                <button class="search-btn">
                    <i class="fa fa-search"></i>
                </button>
                <button class="reset-btn">
                    <i class="fa fa-times"></i>
                </button>
            </section>
        </section>

        <section class="products-wrapper">
            <div class="product-card"
                 *ngFor="let item of products">
                <app-product-item [product]="item"
                                  class="container">
                </app-product-item>
            </div>
        </section>
            <app-pager
                class="pagination"
                [pageSize]="shopParams.pageSize"
                [totalCount]="totalCount"
                (pageChanged)="onPageChanged($event)">
            </app-pager>
        <!-- <pagination [boundaryLinks]="true"
                    [totalItems]="this.totalCount"
                    (pageChanged)="onPageChanged($event)"
                    [itemsPerPage]="this.shopParams.pageSize"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;"
                    class="pagination"
                    *ngIf="totalCount > 0">
        </pagination> -->
    </section>
</section>