@import "navbar-right";

header {
    background: rgb(61, 61, 61);
}

.wrapper {
    max-width: 100vw;
    margin: 0 auto;
}

a {
    cursor: pointer;
}

.site-header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    border: 0;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #E72B3F,#ff8a00);
}

.site-header nav {
    margin: 0.2em 0.5em 0.2em 0.5em;
}

.site-branding .site-title {
    margin: 0.2em 0 0 0;
    padding: 0;
    font-size: 2.8em;
    letter-spacing: 0.05em;
    font-weight: normal;
}

.site-branding .site-title a {
    font-family: 'H_Gothic', sans-serif;
    color: #ffffff;
    text-decoration: none;
    outline: none;
}

.site-branding > .site-description {
    margin: -0.2em 0 0.3em 0;
    padding-left: 0.1em;
    text-transform: uppercase;
    font-size: 1.54em;
    // margin-top: -0.3em;
    letter-spacing: 0.3em;
    
}

.site-branding .site-description a {
    font-family: 'Alrns', sans-serif;
    color: rgb(250, 17, 67);
}

.site-branding .site-description a > span {
    font-family: 'Alrns', sans-serif;
    color: rgb(251, 251, 251);
    text-decoration: none;
    opacity: 0.8;
}

.site-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: flex-start;
}

.site-nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: block;
    list-style: none outside;
    padding: 0 0.1em;
}

.site-nav li:nth-child(1) {
    margin: 0.3em 0;
}

.site-nav a {
    display: block;
    padding: 0.5em 0.5em;
    border-radius: 0.3em;
    color: rgb(189, 189, 189);
    transition: color .3s ease-in-out;
    outline: none;
    &.activated {
        color: #EE1143;
    }
}

.site-nav li:nth-child(1) a{
    background: #E72B3F;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 0.3em 2em;
}

.site-nav a:hover {
    color: rgb(216, 216, 216);
    transition: color .3s ease-in-out;

    &.activated {
        transition: color .3s ease-in-out;
    }
}

.main-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 47vw;
    padding-top: 0.1em;
}

.search-field {
    display: inline-flex;
    flex: 1 1 100%;
    align-self: stretch;
    background: rgba(255,255,255,.80);
    margin: 0.8em 0.5em 0 0.5em;
    height: 0.8em;
    // width: 35em;
    align-items: center;
    padding: 5px;
    border-radius: 0.4em;
}

.search-field input {
    flex: 1;
    background: transparent;
    border: 0;

    text-indent: 5px;
    font-size: 20px;
    color:  #777;
    font-family: Arial, Helvetica, sans-serif;
}

.search-field button {
    border: 0;
    background-color:transparent;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    order: -1;
}

.search-field .fa-search {
    font-size: 1.5em;
    color:  #777;
}