header {
    background: rgb(61, 61, 61);
}

.wrapper {
    max-width: 100vw;
    margin: 0 auto;
}

.site-header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    border: 0;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #E72B3F,#ff8a00);
}

.site-header nav {
    margin: 0.2em 0.5em 0.2em 0.5em;
}

.site-branding .site-title {
    
    margin: 0.2em 0 0 0;
    padding: 0;
    font-size: 2.8em;
    letter-spacing: 0.05em;
    font-weight: normal;
}

.site-branding .site-title a {
    font-family: 'H_Gothic', sans-serif;
    color: #ffffff;
    text-decoration: none;
}

@media screen and (min-width: 320px) {
    .site-branding .site-title {
      font-size: calc(1.5em + 14 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1366px) {
    .site-branding .site-title {
      font-size: 3em;
    }
  }

.site-branding > .site-description {
    margin: -0.2em 0 0.3em 0;
    padding-left: 0.1em;
    text-transform: uppercase;
    font-size: 1.54em;
    // margin-top: -0.3em;
    letter-spacing: 0.3em;
    
}

.site-branding .site-description a {
    font-family: 'Alrns', sans-serif;
    color: rgb(250, 17, 67);
    text-decoration: none;
}

@media screen and (min-width: 320px) {
    .site-branding > .site-description {
      font-size: calc(0.85em + 6.5 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 1366px) {
    .site-branding > .site-description {
      font-size: 1.64em;
    }
}

.site-branding .site-description a > span {
    font-family: 'Alrns', sans-serif;
    color: rgb(251, 251, 251);
    text-decoration: none;
    opacity: 0.8;
}

@media screen and (min-width: 320px) {
    .site-nav {
      font-size: calc(0.6em + 2.7 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 1500px) {
    .site-nav {
      font-size: 1em;
    }
}

.site-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: flex-start;
}

.site-nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: block;
    list-style: none outside;
    padding: 0 0.1em;
}

.site-nav li:nth-child(1) {
    margin: 0.3em 0;
}

.site-nav li:nth-child(1) a{
    background: #E72B3F;
    border: none;
    border-radius: 0.4em;
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 0.3em 2em;
}

.site-nav a {
    display: block;
    padding: 0.5em 0.5em;
    border-radius: 0.3em;
    color: rgb(189, 189, 189);
    text-decoration: none;
    outline: none;
}

.site-nav a:focus,
.site-nav a:hover {
    color: white;
}

.site-nav a:focus {
    text-decoration: underline;
}

.main-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width: 47vw;
    padding-top: 0.1em;
}

.search-field {
    display: inline-flex;
    flex: 1 1 100%;
    align-self: stretch;
    background: rgba(255,255,255,.80);
    margin: 0.8em 0.5em 0 0.5em;
    height: 0.8em;
    // width: 35em;
    align-items: center;
    padding: 5px;
    border-radius: 0.4em;
}

.search-field input {
    flex: 1;
    background: transparent;
    border: 0;

    text-indent: 5px;
    font-size: 20px;
    color:  #777;
    font-family: Arial, Helvetica, sans-serif;
}

.search-field button {
    border: 0;
    background-color:transparent;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    order: -1;
}

.search-field .fa-search {
    font-size: 1.5em;
    color:  #777;
}



.right-nav-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-start;
    margin-top: 1em;
}

@media screen and (max-width: 1366px) {
    .right-nav-section {
       
        margin-top: calc(1.2em - 3 * ((100vw - 320px) / 680));
    }
}

.right-nav-section > .login > a > .fa-user-o {
    color: white;
    font-size: 1.8em;
    cursor: pointer;
}

.right-nav-section > .cart {
    position: relative;
}

.right-nav-section > .cart > a {
    text-decoration: none;
}

.right-nav-section > .cart {
    margin-left: 1.5em;
}

.right-nav-section > .cart > a > img{
    max-width: 2.6em; 
    display:block; 
    height: auto;
}

.right-nav-section > .cart::before {
    content: "0";
    width: 1.2em;
    height: 1.2em;
    background: #E72B3F;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0.4em;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    color: white;
}

.hamburger {
    display: none;
    width: 3.5em;
    height: 2.5em;
    cursor: pointer;
}

.hamburger .row {
    border-radius: 0.15em;
    // box-shadow: 
    // 1.8em 0 1.3em -1em rgba(0, 0, 0, 0.3) inset,
    // -1.8em 0 1.3em -1em rgba(0, 0, 0, 0.3) inset;
}

.hamburger .row:nth-child(1) {
    width: 100%;
    height: 20%;
    background: green;
}

.hamburger .row:nth-child(2) {
    width: 100%;
    height: 20%;
    background: rgb(255, 255, 20);
}

.hamburger .row:nth-child(3) {
    width: 100%;
    height: 20%;
    background: blue;
}

.hamburger .row:nth-child(4) {
    width: 100%;
    height: 20%;
    background: red;
}

@media screen and (max-width: 1280px) {
    .main-nav {
        padding: 0;
        padding-left: 1em;
        width: 40vw;
        justify-content: flex-start;
        margin-left: -1em;
    }

    .search-field {
        margin-top: 0em;
        height: 0.8em;
        padding: 0.6em 0.3em;
    }

    .site-header .site-nav {
        display: none;
        // visibility: hidden;
    }

    .hamburger {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        margin-left: 1em;
    }

    .right-nav-section {
       
        margin: auto 0;
        align-self: center;
    }

    .right-nav-section > .login > a > .fa-user-o {
        font-size: 1.5em;
        margin-left: 0.5em;
    }

    .right-nav-section > .cart > a > img{
        max-width: 2.3em; 
        display:block; 
        height: auto;
    }

    .right-nav-section > .cart::before {
        top: 0px;
        left: 0.32em;
    }
}