<header class="site-header">
    <div class="wrapper">
        <div class="site-branding">
            <p class="site-title"><a routerLink="/">BODYQUEST</a></p>
            <p class="site-description">
                <a routerLink="/"><span>prepare for </span>intensity
                </a>
            </p>
        </div>

        <section class="main-nav">
            <section class="search-field">
                <input type="search">
                <button>
                    <i class="fa fa-search"></i>
                </button>
            </section>
            <nav class="site-nav">
                <ul>
                    <li>
                        <a routerLink="/shop">SHOP
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shop"
                           routerLinkActive="activated"
                           [routerLinkActiveOptions]="{exact:true}">ALL PRODUCTS
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shop/new"
                           routerLinkActive="activated"
                           [routerLinkActiveOptions]="{exact:true}">NEW PRODUCTS
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shop/barsandplates"
                           routerLinkActive="activated"
                           [routerLinkActiveOptions]="{exact:true}">BARS & PLATES
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shop/bestsellers"
                           routerLinkActive="activated"
                           [routerLinkActiveOptions]="{exact:true}">BESTSELLERS
                        </a>
                    </li>
                </ul>
            </nav>
        </section>

        <section class="right-nav-section">
            <div class="login">
                <a [routerLink]="['/login']"
                   routerLinkActive="router-link-active"><i class="fa fa-user-o"></i></a>

            </div>
            <div class="cart">
                <a href="">
                    <img src="assets/images/SNATCH_Shopping_Cart_WHITE.png"
                         alt="Shopping Cart">
                </a>

            </div>
            <div class="hamburger">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
            </div>
        </section>

    </div>
</header>