<header class="site-header">
    <div class="wrapper">
        <div class="site-branding">
            <p class="site-title"><a routerLink="/">BODYQUEST</a></p>
            <p class="site-description">
                <a routerLink="/"><span>prepare for </span>intensity
                </a>
            </p>
        </div>

        <section class="main-nav">
            <section class="search-field">
                <input type="search">
                <button>
                    <i class="fa fa-search"></i>
                </button>
            </section>
            <nav class="site-nav">
                <ul>
                    <li>
                        <a routerLink="/test-error">Errors
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shop"
                           routerLinkActive="activated"
                           [routerLinkActiveOptions]="{exact:true}">ALL PRODUCTS
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shop/new"
                           routerLinkActive="activated"
                           [routerLinkActiveOptions]="{exact:true}">NEW PRODUCTS
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shop/barsandplates"
                           routerLinkActive="activated"
                           [routerLinkActiveOptions]="{exact:true}">BARS & PLATES
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shop/bestsellers"
                           routerLinkActive="activated"
                           [routerLinkActiveOptions]="{exact:true}">BESTSELLERS
                        </a>
                    </li>
                </ul>
            </nav>
        </section>

        <section class="right-nav-section">
            <ng-container *ngIf="(currentUser$ | async) === null">
                <div class="login"
                    id="dropdown">
                    <a><i class="fa fa-user-o"></i></a>
                    <div class="nav"
                        role="tablist"
                        #navdrop
                        id="navdrop">
                        <a class="nav-link "
                        routerLink="/account/login"
                        role="tab"
                        data-toggle="tab">Login</a>
                        <a class="nav-link "
                        routerLink="/account/register"
                        role="tab"
                        data-toggle="tab">Register</a>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="(currentUser$ | async) as user">
                <div class="login"
                    id="dropdown">
                    <a class="display-name" href="#">Welcome {{user.displayName}}</a>
                    <div class="nav-user"
                        role="tablist"
                        #navdrop
                        id="navdrop">
                        <a class="nav-link "
                        routerLink="/account/login"
                        role="tab"
                        data-toggle="tab">Orders</a>
                        <a class="nav-link "
                        routerLink="/basket"
                        role="tab"
                        data-toggle="tab">Basket</a>
                        <a class="nav-link logout"
                        (click)="logout()"
                        role="tab"
                        data-toggle="tab">Logout</a>
                    </div>
                </div>
            </ng-container>

            <div class="cart">
                <a routerLink="/basket">
                    <img src="assets/images/SNATCH_Shopping_Cart_WHITE.png"
                         alt="Shopping Cart">
                    <div *ngIf="(basket$ | async) as basket"
                         class="cart-qty">{{basket.items.length}}</div>
                </a>

            </div>
            <div class="hamburger">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
            </div>
        </section>

    </div>
</header>